<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.modelConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=model;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.ConnectiontestConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Connectiontest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>